%div.post
  %h1.title
    = link_to "Curriculum Vitae", "#"

  %div.entry
    %p
      %h3
        SRICHARAN SUNDER
        %br
        ROOM NO: MW-210, Meghnad Saha Hall of Residence, IIT Kharagpur
        %br
        West Bengal - 721302 
        %br
        %b
          Phone No: 
        +91-95478917542
        %br
        %b
          Email: 
        sricharan92@gmail.com 
    %p
      %h4 Academic Record:
      #experience
        %table
          %tr
            %th Qualifications
            %th Year
            %th Institution
            %th Grade
          %tr
            %td B.Tech + M.tech (Dual Degree) in Metallurgical and Materials Engineering 
            %td 2009 to 2014 
            %td Indian Institute of Technology, Kharagpur
            %td Cumulative Grade Point Average: 7.22/10
          %tr
            %td Higher Secondary School, Central Board of Secondary Education 
            %td 2009 
            %td Mar Gregorios Memorial School, Bhilai
            %td 85.8%
          %tr
            %td Secondary School, Central Board of Secondary Education    
            %td 2007
            %td Delhi Public School, Bhilai
            %td 95.4%
        %br
        %br
        %ul
          %li One among the 0.6% of students in India to clear IIT-JEE-2008.
          %li Was among the top 1% students in India in the All India Engineering Entrance Examination (AIEEE’08).
          %li Was among the top 1% in the region at National level Physics Olympiad - 08
          %li Awarded National Talent Search Examination (NTSE) Scholarship.
          %li Awarded the Bhilai Steel Plant Scholarship
          %li Cleared the first phase of National Cyber Olympiad (2007-08, 2008-09) and ranked 82nd nationwide in 2008-09.
